 /* .fram{
    height: 1440px;
    width:900px;
   
   
   
}
.f1{
    height: 36px;
    width: 336px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;  
    margin: auto;  
    
}
.guidence{
    font-family: Inter;
    font-size: 24px;
    font-style: bold;
    font-weight: 500;
    justify-content: center;

}
.t1{
    font-size: 48px;
    font-weight:500px;
    height: 72px;
    width: 953px;
   
    
}  */

.guidance-section {
    
    padding: 40px;
    text-align: center;
  }
  
  .guidance-section h6 {
    font-size: 24px;
    line-height: 0.5px;
  }
  .guidance-section h2 {
font-size: 48px;

  }

  .guidance-section p {
    font-size: 24px;
    margin-left: 400px;
    
    width: 813px;
    height: 72px;
    
  }
  @media (max-width: 992px) {
    .guidance-section h2 {
      font-size: 32px;
    }
  
    .guidance-section p {
      font-size: 18px;
     margin-left: 20px;
    }
  }
  
  @media (max-width: 768px) {
    .guidance-section h2 {
      font-size: 28px;
    }
  
    .guidance-section p {
      font-size: 16px;
      width: 100%;
      margin-left: 1px; ;
    }
  }
  
  @media (max-width: 576px) {
    .guidance-section h2 {
      font-size: 24px;
    }
  
    .guidance-section p {
      font-size: 14px;
      width: 100%;
    }
  }